<div style="display:none">
  <div id="leave-site">
    <p>You are now leaving the ROBO-STOX, LLC website. The following landing page may contain information concerning investments, products or other information. Exchange Traded Concepts LLC, the Fund Advisor are not responsible for the accuracy or completeness of information on non-affiliated websites. The material available on non-affiliated websites has been produced by the entities that are not affiliated with Exchange Traded Concepts LLC. Descriptions of, references to, or links to products or publications within any non-affiliated linked website does not imply endorsement of that product or publication by Exchange Traded Concepts LLC. Any opinions or recommendations from non-affiliated websites are solely those of the independent providers and are not the opinions or recommendations of Exchange Traded Concepts LLC, which is not responsible for any inaccuracies or errors.</p>
    <div>
      <%= link_to "Proceed", "http://www.robostoxetfs.com", class: 'btn btn-primary', target: '_blank', onclick: "$.colorbox.close();" %>
    </div>
  </div>
</div>
