<div style="display:none">
  <div id="leave-site-eu">
    <p>You are now leaving the ROBO-STOX
      Partners, Ltd website and being directed to ETF Securities (UK) Limited which is authorized and regulated by the United Kingdom Financial Conduct Authority (the “FCA”). By clicking “OK”, you acknowledge that you are someone authorized
      to undertake investment activities relating to the Exchange Traded Funds (ETFs). IN addition, you understand that ROBO-STOX Partners Ltd is not making any financial promotion or carrying out any regulated activity of said
      products. The following landing page may contain information concerning investments, products or other information. ETF Securities (UK) Limited is not responsible for the accuracy or completeness of information on non-affiliated
      websites. The material available on non-affiliated websites has been produced by entities that are not affiliated with ETF Securities (UK) Limited. Descriptions of references to, or links to products or publications within any non-affiliated linked websites does not imply endorsement of that product or
      publication by ETF Securities (UK) Limited. Any opinions or recommendations from non-affiliated websites are solely those of the independent providers and
      are not the opinions or recommendations of ETF Securities (UK) Limited, which is not responsible for any inaccuracies or errors.
    </p>
    <div>
      <%= link_to "Proceed", "http://www.etfsecurities.com/institutional/uk/en-gb/robo-stox-global-robotics-and-automation-go-ucits-etf.aspx", class: 'btn btn-primary', target: '_blank', onclick: "$.colorbox.close();" %>
    </div>
  </div>
</div>
