<div class="map-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-centered">
        <h2>Going Global: Mapping the index</h2>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="map-img">
    <nav id='menu-ui' class='menu-ui'><h2>Industries</h2></nav>
    <div id='map' class='dark'></div>
  </div>
</div>
