<div class='map-section' id='static-map'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12 col-sm-12 col-md-10 col-lg-10 col-centered'>
        <h2>Global Index Licensing Relationships</h2>
        <h4 class='map_sub_heading'>Over $2.5 Billion in Licensing Agreements*</h4>
      </div>
    </div>
  </div>
  <div class='clearfix'></div>
  <div>
    <%= image_tag('home_map.png', alt: 'home_map') %>
  </div>
  <span class='pull-right'>*As of 10/31/2017</span>
</div>
