<div class="legal-banner">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-centered">
    <div class="us-heading-container">
      <h1>DISCLAIMER</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="legal-info-section">
        <p>ROBO Global LLC (“ROBO Global”) is an index and model portfolio provider for global ETF and other institutional clients. Robo Global Capital Management, LLC is a Texas registered investment adviser. Registration does not imply a certain level of skill or training.</p>
        <p>This e-mail, including any attachments, is intended only for the personal use of the recipient(s) named above and may contain information and/or attachments that are privileged, confidential, proprietary and protected from disclosure.  Unless specifically stated in the message or otherwise indicated, you may not duplicate, redistribute or forward this message or any portion thereof, including any attachments, by any means to any other person. If you are not the intended recipient, please be advised that you are legally prohibited from retaining, using, copying, distributing, or otherwise disclosing this information in any manner. Attachments that are part of an electronic communication may have additional important disclosures and disclaimers, which you should read.</p>
        <p>Furthermore, this communication is for information purposes only and not intended, and should not be construed, as investment advice and does not constitute an offer or commitment, a solicitation of an offer, or any advice or recommendation, to enter into or conclude any transaction,  or as an official statement of ROBO Global or any of its affiliates. Nothing in this document constitutes investment, legal, accounting or tax advice or a representation that any investment strategy or service is suitable or appropriate to your individual circumstances. This document is not to be relied upon in substitution for the exercise of independent judgment. You should consult your legal counsel, accountants and/or tax advisors prior to making any decisions or taking any action concerning the matters in this communication.  All information provided by ROBO Global is impersonal and not tailored to the needs of any person, entity or group of persons.</p>
        <p>Index holdings are subject to change. Past performance of an index is not a guarantee of future results. The value of investments may go down as well as up and potential investors may not get back the amount originally invested. It is not possible to invest directly in an index. Exposure to an asset class represented by an index is available through investable instruments based on that index. ROBO Global makes no assurance that investment products based on the index will accurately track index performance or provide positive investment returns. A decision to invest in any such investment fund or other investment vehicle should not be made in reliance on any of the statements set forth in this document. ROBO Global is not in a position to give advice on the suitability of any investments for potential investors. Prospective investors are advised to make an investment in any such fund or other vehicle only after carefully considering the risks associated with investing in such funds, as detailed in an offering memorandum or similar document that is prepared by or on behalf of the issuer of the investment fund or other vehicle. Inclusion of a security within an index is not a recommendation by ROBO Global to buy, sell, or hold such security, nor is it considered to be investment advice. ROBO Global and its affiliates assume no obligation to update or otherwise revise these materials.</p>
      </div>
    </div>
  </div>
</div>
<% content_for :js_init do %>
HeaderScroll.init();
<% end %>
