<div class="main-banner">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-centered">
    <div class="text-container">
      <h1>THE FUTURE IS NOW</h1>
      <div class="punch-line">See how robotics-based invesment solutions can help your portfolio</div>
    </div>
  </div>
</div>
