<% content_for :js_init do %>
Home.init();
<% end %>
<div class="legal-banner">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-centered">
    <div class="us-heading-container">
      <h1>LEGAL INFORMATION</h1>
      <div class="about-banner-title">DARPA Robotics Challenge Gives Glimpse Into the Future</div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="legal-info-section">
        <h2>Title or sub heading here?</h2>
        <div class="legal-top-line">Copyright © 2013 by ROBO-STOX LLC. "ROBO-STOX" All rights reserved. ROBO-STOX" is a registered trademark of ROBOSTOX LLC.</div>
        <p>Redistribution, reproduction and/or photocopying in whole or in part are prohibited without written permission. This document does not constitute an offer of services in jurisdictions where ROBO-STOX does not have the necessary licenses. All information provided by ROBO-STOX is impersonal and not tailored to the needs of any person, entity or group of persons.
          <p>Past performance of an index is not a guarantee of future results.</p>
          <p>It is not possible to invest directly in an index. Exposure to an asset class represented by an index is available through investable instruments based on that index. ROBO-STOX makes no assurance that investment products based on the index will accurately track index performance or provide positive investment returns. A decision to invest in any such investment fund or other investment vehicle should not be made in reliance on any of the statements set forth in this document. Prospective investors are advised to make an investment in any such fund or other vehicle only after carefully considering the risks associated with investing in such funds, as detailed in an offering memorandum or similar document that is prepared by or on behalf of the issuer of the investment fund or other vehicle. Inclusion of a security within an index is not a recommendation by ROBO-STOX to buy, sell, or hold such security, nor is it considered to be investment advice.</p>
          <p>Closing prices for the ROBO-STOX Global Robotics and Automation Index are calculated by Solactive AG based on the closing price of the individual constituents of the index as set by their primary exchange.</p>
          <p>These materials have been prepared solely for informational purposes based upon information generally available to the public from sources believed to be reliable. No content contained in these materials (including index data, ratings, credit-related analyses and data, model, software or other application or output therefrom) or any part there of (Content) may be modified, reverse-engineered, reproduced or distributed in any form by any means, or stored in a database or retrieval system, without the prior written permission of ROBO-STOX. The Content shall not be used for any unlawful or unauthorized purposes.</p>
          <p>ROBOSTOX and its third-party data providers and licensors (collectively ROBO-STOX Parties) do not guarantee the accuracy, completeness, timeliness or availability of the Content. ROBO-STOX Parties are not responsible for any errors or omissions, regardless of the cause, for the results obtained from the use of the Content. The content is provided on an as is basis.</p>
          <p>ROBO-STOX parties disclaim any and all express or implied warranties, including, but not limited to, any warranties of merchantability or fitness for a particular purpose or use, freedom from bugs, software errors or defects, that the contents functioning will be uninterrupted or that the content will operate with any software or hardware configuration. In no event shall ROBO-STOX Parties be liable to any party for any direct, indirect, incidental, exemplary, compensatory, punitive, special or consequential damages, costs, expenses, legal fees, or losses (including, without limitation, lost income or lost profits and opportunity costs) in connection with any use of the Content even if advised of the possibility of such damages.</p>
          <p>The Global Industry Classification Standard (GICS®) was developed by and is the exclusive property and a trademark of Standard &amp; Poors and MSCI. Neither MSCI, Standard &amp; Poors nor any other party involved in making or compiling any GICS classifications makes any express or implied warranties or representations with respect to such standard or classification (or the results to be obtained by the use thereof), and all such parties hereby expressly disclaim all warranties of originality, accuracy, completeness, merchantability or fitness for a particular purpose with respect to any of such standard or classification. Without limiting any of the foregoing, in no event shall MSCI, Standard &amp; Poors, any of their affiliates or any third party involved in making or compiling any GICS classifications have any liability for any direct, indirect, special, punitive, consequential or any other damages (including lost profits) even if notified of the possibility of such damages.</p>
          <p>The ROBO-STOX Global Robotics and Automation Index (the Index) is the property of ROBO-STOX, LLC, which has contracted with S&amp;P Opco, LLC (a subsidiary of S&amp;P Dow Jones Indices LLC) (S&amp;amp;P Dow Jones Indices) to calculate and maintain the Index. The Index is not sponsored by S&amp;P Dow Jones Indices or its affiliates. Neither S&amp;P Dow Jones Indices, nor any of their affiliates will be liable for any errors or omissions in calculating the Index. Calculated by S&amp;P Dow Jones Indices and the related stylized mark(s) are service marks of Standard &amp; Poors Financial Services LLC (SPFS) and have been licensed for use by S&amp;P Dow Jones Indices and sublicensed for certain purposes by ROBO-STOX, LLC.</p>
        </div>
      </div>
    </div>
  </div>
