<div class="clearfix"></div>
<div class="stock-banner">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-centered padding-top-80">
    <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2 col-centered">
        <%= image_tag("stock-picking-logo.png", :alt => "Logo") %>
      </div>
    </div>
    <h1>Stock Picking Challenge</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="stock-content text-center">
        <%= raw @stock_challenge %>
      </div>
    </div>
  </div>
</div>
<% content_for :js_init do %>
HeaderScroll.init();
<% end %>
