<div class="legal-banner">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-centered">
    <div class="us-heading-container">
      <h1>Stock Challenge</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= raw @stock_challenge %>
    </div>
  </div>
</div>
<% content_for :js_init do %>
  HeaderScroll.init();
<% end %>
