<p>
  <strong>Embed code:</strong>
  <div class="embed-container">
    <%= raw @embedded_attachment.embed_code %>
  </div>
</p>

<%= link_to 'Edit', edit_embedded_attachment_path(@embedded_attachment) %> |
<%= link_to 'Back', embedded_attachments_path %>
