<div class="about-banner">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-centered">
    <div class="us-heading-container">
      <h1>New <%= params[:category].titleize %></h1>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="padding-top-50 margin-bottom-50 edit-file">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
