<div class="about-banner">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-centered">
    <div class="us-heading-container">
      <h1><%= @index.index_category %></h1>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="padding-top-50 edit-file">
        <%- model_class = PdfAttachment -%>
        <p>
          <strong>Doc:</strong>
          <%= display_documnet_preview %>
        </p>
        <p>
          <strong>Doc type:</strong>
          <%= get_document_type %>
        </p>
        <p>
          <strong>Category:</strong>
          <%= @index.category.titleize %>
        </p>
      </div>
    </div>
  </div>
</div>
<% content_for :js_init do %>
  HeaderScroll.init();
<% end %>
