<div class="subsribers-container" >
  <%= form_for @subscriber, remote: true, html: {class: "subscriber-form"} do |f| %>
    <%= error_message_for(@subscriber, :email) %>
    <span class="subscriber-success"></span>
    <%= f.email_field :email, placeholder: "Enter your Email", class: field_class(@subscriber, :email) %>
    <%= f.submit "", class: "input-arrow" %>
  <% end %>
</div>
