<div class="get-news home-subsriber">
  <div class="news-wrapper">
    <div class="get-news-title">Robotics Room</div>
    <div class="news-sub-title">Get latest news in biotech and robicts</div>
    <div class="clearfix"></div>
    <%= form_for @subscriber, remote: true, html: {class: "home-subscriber-form"} do |f| %>
      <%= error_message_for(@subscriber, :email) %>
      <span class="subscriber-success"></span>
      <%= f.email_field :email, placeholder: "Enter your Email", class: field_class(@subscriber, :email) %>
      <%= f.submit "", class: "input-arrow" %>
    <% end %>
  </div>
</div>
