.privacy-content {
  padding: 10px 25px 10px 25px;
}

.privacy-information {
  padding-top: 10px;
}

.privacy-policies, contact-information {
  padding-top: 5px;
}

.list-privacy {
  margin-bottom: 2px;
}

.privacy-page {
  margin-bottom: 1px;
}

.privacy-contact-us {
  padding-top: 20px;
}
