a {
    -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
img {
  max-width: 100%;
}
a {
  color: black;
}
a:hover {
  color: #666;
  text-decoration: none;
}
/* ==========================================================================
   Heading
   ========================================================================== */
h1 {
  color: black;
  line-height: 50px;
  text-align: center;
}
h2 {
  color: black;
  line-height: 50px;
  text-align: center;
  font-size: 36px;
}
h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: 100;
}
h2 {
  line-height: 40px;
}
#root-container .alert {
  margin-top: 65px;
  width: 100%;
  position: absolute;
  opacity: 0.7;
}
.padding-top-50 {
  padding-top: 50px;
}
.margin-top-36 {
  margin-top: 36px;
}
/* ==========================================================================
   Navigation
   ========================================================================== */
.navbar-brand {
  height: auto;
  line-height: normal;
  padding: 0px;
}
.navbar-default {
	background-color: transparent;
	border: 0px;
}
nav.white-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.navbar {
	margin-bottom: 0px;
}
.main-navigation {
	margin-top: 17px;
}
.nav > li a {
  border-radius: 5px;
}
.navbar-brand > img {
  margin-top: 11px;
  width: 120px;
}
.not-show {
  display: none;
}
.white-header .navbar-brand.not-show  {
  display: block;
}
.white-header .navbar-brand.not-show img {
  margin-top: 11px;
}
.white-header .navbar-brand.show {
  display: none !important;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 16px;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li.active a,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background: #23d74d;
	color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: #23d74d;
  color: white;
}
.about-btn-shell li {
  list-style: none;
}
.navbar-default .navbar-nav > li > a:focus {
  color: #000;
}
.navbar-nav > li > a {
	line-height: 10px;
}
.nav > li > a {
	padding: 13px 10px;
}
.nav > li {
	margin-right: 20px;
}
.main-navigation .dropdown-menu,
.about-btn-shell .dropdown-menu  {
	background: #23d74d;
	border-radius: 5px;
	color: white;
	border: 0px;
	min-width: 300px;
	top: 44px;
}
.about-btn-shell .dropdown-menu {
  top: 57px;
}
.main-navigation .dropdown-menu > li > a,
.about-btn-shell .dropdown-menu > li > a {
	color: #777;
  text-align: left;
  font-size: 13px;
}
.navbar-nav > li > .dropdown-menu {
	border-radius: 5px;
}
.main-navigation .dropdown-menu .divider {
	display: none;
}
.main-navigation .dropdown-menu>li>a:hover, .main-navigation .dropdown-menu>li>a:focus,
.about-btn-shell .dropdown-menu>li>a:hover, .about-btn-shell .dropdown-menu>li>a:focus {
  background-color: transparent;
  color: white;
}
.main-navigation.navbar-nav > li > .dropdown-menu:after,
.about-btn-shell > li > .dropdown-menu:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #23d74d transparent;
  top: -16px;
  left: 337px;
}
.about-btn-shell > li > .dropdown-menu:after {
  left: 70px;
}
.blue_x {
  display: none !important;
}
.white-header .white_x {
  display: none !important;
}
.white-header .blue_x {
  display: block !important;
}
.footer-dropdown .dropdown-menu {
  background: #00aff0;
  border-radius: 5px;
  color: white;
  border: 0px;
  min-width: 300px;
  top: 46px;
  left: -312px;
  padding: 8px 0px;
}
.footer-dropdown .dropdown-menu > li > a {
  color: #004c68;
  text-align: right;
  font-size: 13px;
  width: 100%;
  padding: 3px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.footer-dropdown .dropdown-menu>li>a:hover, .footer-dropdown .dropdown-menu>li>a:focus {
  background-color: transparent;
  color: #fff;
}
.footer-dropdown .dropdown-menu > li {
  margin-right: 0px;
  width: 100%;
  text-align: right;
}
.navbar-nav > li > .dropdown-menu {
  border-radius: 5px;
}
.footer-dropdown .dropdown-menu .divider {
  display: none;
}
.footer-nav .dropdown-menu:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #00aff0 transparent;
  top: -14px;
  left: 337px;
}
.footer-nav .dropdown:hover {
  background: #00aff0;
  color: white;
  border-radius: 5px;
}
/* ==========================================================================
   Main Banner
   ========================================================================== */
.main-banner {
	background: image-url("index-banner.jpg") no-repeat center -166px;
	width: 100%;
	float: left;
	min-height: 710px;
}
.us-banner {
  background: image-url("robo-us-banner.jpg") no-repeat center top;
  width: 100%;
  float: left;
  min-height: 427px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.us-banner h1 {
  font-size: 50px;
  line-height: normal;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 75px;
  padding-top: 0px;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.text-container {
  float: left;
  padding-top: 100px;
  text-align: center;
  width: 100%;
}
.us-heading-container {
  text-align: center;
  display: block;
  padding-top: 80px;
  width: 100%;
}
.blog-heading-container {
  text-align: center;
  display: block;
  padding-top: 80px;
}
.main-banner h1,
.about-banner h1,
.legal-banner h1,
.news-banner h1 {
  font-size: 50px;
  line-height: normal;
  font-weight: 100;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 75px;
  vertical-align: middle;
}
.about-banner h1 {
  padding-top: 10px;
}
.punch-line {
  font-size: 20px;
  line-height: normal;
  text-align: center;
  color: white;
  text-transform: capitalize;
}
.graph-container {
  padding-top: 35px;
}
.graph-container img {
  max-width: 100%;
  width: 100%;
  display: block;
  margin: auto;
}
/* ==========================================================================
   Footer
   ========================================================================== */
#footer {
  background: #2a2a2b;
  width: 100%;
  float: left;
  min-height: 250px;
  clear: both;
  margin-top: 0px;
}
.footer-inner {
  background: image-url("footer-bg.jpg") no-repeat 200px -1px;
  min-height: 250px;
}
.footer-logo {
  float: left;
  width: 120px;
}
.logo-container {
  float: left;
  padding-top: 40px;
}
.s-icons {
  float: right;
  margin-top: -5px;
  margin-left: 15px;
}
.footer-social-icon {
  float: left;
  padding-left: 33px;
  padding-top: 52px;
}
.footer-social-icon i {
  font-size: 22px;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}
.footer-social-icon i.fa-linkedin-square:hover {
  color: #3b5998;
}
.footer-social-icon i.fa-twitter-square:hover {
  color: #4099ff;
}
.footer-social-icon i.fa-google-plus-square:hover {
  color: #d34836;
}
.copyrights-large {
  font-size: 11px;
  float: left;
  text-align: left;
  padding-top: 130px;
  clear: both;
  color: white;
}
.copyrights-small {
  display: none;
}
.footer-nav {
  float: right;
  padding-top: 38px;
}
.footer-nav ul {
  float: left;
  padding: 0px;
}
.footer-nav ul li {
  float: left;
  list-style: none;
  margin-right: 20px;
}
.footer-nav ul li:last-child {
  margin-right: 0px;
}
.footer-nav ul li a {
  float: left;
  list-style: none;
  color: white;
  padding: 10px;
  border-radius: 6px;
}
.footer-nav ul li a:hover,
.footer-nav ul li.active a {
  background: #00aff0;
  text-decoration: none;
}
.footer-nav ul li a:focus {
  text-decoration: none;
}
/* ==========================================================================
   Automation technologies
   ========================================================================== */
.automation-tech-section {
  float: left;
  width: 100%;
  clear: both;
  padding: 90px 0px 0px 0px;
}
.automation-tech-section h2,
.map-section h2,
.blog-section h2,
.team-section h2,
.featured-in-section h2,
.heighlights-section h2,
.sector-section h2 {
  text-transform: uppercase;
}
.sub-title {
  font-size: 16px;
  padding: 0px 0px 20px 0px;
  text-align: center;
  float: left;
  width: 100%;
}
.tech-section {
  float: left;
  width: 100%;
  padding: 100px 0px 50px 0px;
}
.tech-catagories {
  float: left;
  width: 100%;
}
.tech-symbol {
  text-align: center;
}
.tech-title {
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
}
.top-border {
  border-top: 3px solid #00adef;
  width: 33px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tech-description {
  float: left;
  width: 100%;
  text-align: center;
  padding-top: 15px;
}
.MR-38 {
  margin-left: 38px;
}
/* ==========================================================================
   Map Section
   ========================================================================== */
.map-section {
  float: left;
  width: 100%;
  padding: 80px 0px 0px 0px;
}
.map-img {
  float: left;
  text-align: center;
  width: 100%;
  margin-top: 25px;
  position: relative;
  height: 600px;
}
.map-img img {
  width: 100%;
}
div#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
/* ==========================================================================
   Blog Post Section
   ========================================================================== */
.blog-section {
  float: left;
  width: 100%;
  background-color: #f5f5f5;
  padding: 70px 0px 50px 0px;
}
.blog-section h3 {
  margin-top: 0px;
}
.video-post-section {
  float: left;
  width: 100%;
  padding: 100px 0px 0px 0px;
}
.video-post-section img {
  width: 100%;
}
.blog-section h2 {
  text-transform: uppercase;
  margin: 0px 0px 15px 0px;
}
.post-wrapper {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.post-wrapper .post-inner {
  float: left;
  width: 80%;
}
.post-wrapper .post-inner a {
  color: black; 
}
.post-wrapper .post-inner a:hover {
  color: #666;
  text-decoration: none; 
}
.latest-blog-shell {
  float: left;
  width: 100%;
  padding-top: 30px;
}
.post-img {
  float: left;
  width: 80px;
  margin-right: 15px;
}
.post-title {
  font-size: 18px;
  padding-bottom: 8px;
}
.post-description {
  font-size: 12px;
  padding-bottom: 3px;
}
.post-date {
  font-size: 11px;
  color: #727272;
}
.research-news {
  float: left;
  padding-top: 20px;
}
.research-news a {
  color: #5d5d5d;
  font-size: 16px;
}
/* ==========================================================================
   Our Sector
   ========================================================================== */
.sector-section {
  padding: 100px 0px 80px 0px;
  float: left;
  width: 100%;
  margin-bottom: 80px;
}
.sector-section img {
  width: 100%;
  height: 100%;
}
.sector-inner {
  float: left;
  padding: 20px 0px 0px 0px;
  width: 100%;
}
.tab-img {
  margin-top: 50px;
  float: left;
}
.tabs-title {
  padding-bottom: 15px;
  width: 100%;
}
.tab-section-right {
  float: left;
  width: 100%;
}
.news-section {
  float: left;
  width: 100%;
  padding-top: 20px;
}
.news-section h5 {
  margin-bottom: 0px;
}
.news-section a {
  color: #898989;
}
.sector-title {
  float: left;
  width: 100%;
  padding-top: 30px;
}
#sectors {
  float: left;
  width: 100%;
  position: relative;
}
.sector-circule {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 1000px;
  position:absolute;
  text-align: center;

  background-color: #ccc;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
#sectors a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  text-align: center;
}
.overlay {
  background-color: #bfbfbf;
  width: 100px;
  height: 100px;
  float: left;
  opacity: 0.5;
  border-radius: 1000px;
}
.overlay:hover {
  background-color: #00adef;
  opacity: 0.4;
  border-radius: 100%;
  color: white;
}
.fixed-overlay {
  background-color: #00adef;
  opacity: 0.4;
  border-radius: 100%;
  color: white;
}
span.text {
  color: white;
  font-size: 14px;
  position: absolute;
  display: block;
  top: 38px;
  width: 100%;
  text-align: center;
  line-height: 15px;
}
.sector-effect:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  transform: scale(1.3);
}
.sensing {
  background: image-url("Sensing.jpg") no-repeat;
  background-size: cover;
  top: 542px;
  left: 102px;
}
.processing {
  background: image-url("Processing.jpg") no-repeat;
  background-size: cover;
  top: 466px;
  left: 0px;
}
.actuation {
  background: image-url("Actuation.jpg") no-repeat;
  background-size: cover;
  top: 350px;
  left: -48px;
}
.computing {
  background: image-url("Computing.jpg") no-repeat;
  background-size: cover;
  top: 225px;
  left: -48px;
}
.integration {
  background: image-url("Integration.jpg") no-repeat;
  background-size: cover;
  top: 112px;
  left: 4px;
}
.manufacturing {
  background: image-url("Manufacturing.jpg") no-repeat;
  background-size: cover;
  top: 37px;
  left: 103px;
}
.printing {
  background: image-url("3DPrinting.jpg") no-repeat;
  background-size: cover;
  top: 7px;
  left: 228px;
}
.logistics {
  background: image-url("Logistics.jpg") no-repeat;
  background-size: cover;
  top: 37px;
  left: 349px;
}
.agriculture {
  background: image-url("Agriculture.jpg") no-repeat;
  background-size: cover;
  top: 123px;
  right: 99px;
}
.military {
  background: image-url("Military.jpg") no-repeat;
  background-size: cover;
  top: 233px;
  right: 41px;
}
.energy {
  background: image-url("Energy.jpg") no-repeat;
  background-size: cover;
  top: 351px;
  right: 39px;
}
.healthcare {
  background: image-url("Healthcare.jpg") no-repeat;
  background-size: cover;
  top: 457px;
  right: 103px;
}
.consumer {
  background: image-url("Consumer.jpg") no-repeat;
  background-size: cover;
  top: 548px;
  left: 349px;
}
.hidden-content, .hidden-application, .hidden-technology {
  display: none;
}
.circule-logo {
  background: image-url("circle-image.png") no-repeat center;
  width: 100px;
  height: 100px;
  width: 127px;
  height: 125px;
  position: absolute;
  top: 264px;
  left: 202px;
  background-size: contain;
}
/* ==========================================================================
   Index Heighlights
   ========================================================================== */
.heighlights-section {
  float: left;
  background: image-url("harmonic.jpg") no-repeat center;
  width: 100%;
  min-height: 568px;
}
.heighlights-section h2 {
  color: white;
  padding-top: 50px;
}
.drive-system {
  float: left;
  width: 100%;
  padding-top: 68px;
}
.drive-system h3,
.drive-system p {
  color: white;
}
.index-title {
  font-size: 16px;
  color: white;
  padding-bottom: 20px;
}
.about-btn-shell {
  float: left;
  padding-top: 10px;
  width: 100%;
}
/* ==========================================================================
   Our Team
   ========================================================================== */
.team-section {
  float: left;
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px 0px 50px 0px;
}
.team-wrapper {
  float: left;
  width: 100%;
  padding-top: 30px;
}
.persons-section {
  float: left;
  width: 100%;
}
.our-team-img {
  border: 1px solid #000;
  float: left;
  border-radius: 1000px;
  width: 116px;
  height: 116px;
  padding: 8px;
  margin-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.our-team-img img {
  border-radius: 1000px;
  width: 100%;
}
.team-wrapper h3 {
  margin-bottom: 0px;
}
.team-social {
  float: left;
}
.about-btn {
  padding-top: 35px;
}
.default-buttons,
.button-area button[type="submit"] {
  background-color: #25d278;
  border-radius: 5px;
  padding: 12px;
  font-size: 18px;
  color: white;
  display: block;
  text-align: center;
  border: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
a.default-buttons {
  color: white;
}
a.default-buttons:hover,
.button-area button[type="submit"]:hover,
.button-area input[type="submit"]:hover {
  text-decoration: none;
  background-color: #1fae64;
}
.white-btn {
  background-color: #fff;
  border-radius: 5px;
  padding: 12px;
  font-size: 18px;
  color: #10afe8;
  display: block;
  text-align: center;
  border: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
a.white-btn {
  color: #10afe8;
}
a.white-btn:hover {
  text-decoration: none;
  background-color: #23d74d;
  color: white;
}
/* ==========================================================================
   Featrued In
   ========================================================================== */
.featured-in-section {
  float: left;
  width: 100%;
  padding: 20px 0px 50px 0px;
}
.brand-section {
  float: left;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 15px;
}
.brand-section img {
  cursor: pointer;
  margin-right: 35px;
}
.brand-section img:last-child {
  margin-right: 0px;
}
/* ==========================================================================
   Question
   ========================================================================== */
.question-section {
  float: left;
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px 0px 50px 0px;
}
.question-section h2 {
  text-align: left;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.get-news {
  background: image-url("question.jpg") no-repeat left top;
  width: 100%;
  height: 250px;
  float: left;
  margin-top: 90px;
}
.news-wrapper {
  float: left;
  width: 100%;
  padding: 80px 0px 0px 15px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.input-arrow {
  background: image-url("input-arrow.png") no-repeat 7px 18px;
  width: 40px;
  height: 43px;
  position: absolute;
  left: 236px;
  bottom: 3px;
  border: 0px
}

.input-arrow:focus {
  outline:none;
}

.get-news-title {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
}
.news-sub-title {
  font-size: 16px;
  width: 32%;
  float: left;
  color: white;
  padding-bottom: 10px;
}
.news-wrapper input[type="email"] {
  border: 1px solid white;
  border-radius: 5px;
  padding: 14px 46px 14px 14px;
  width: 260px;
  background: transparent;
  color: white;
  font-size: 12px;
}
.news-wrapper input[type="email"]:focus,
.post-subscribe input[type="email"]:focus {
  border: 1px solid white;
  color: #fff;
}
.news-wrapper ::-webkit-input-placeholder,
.post-subscribe ::-webkit-input-placeholder {
   color: #fff;
}
.news-wrapper :-moz-placeholder,
.post-subscribe :-moz-placeholder { /* Firefox 18- */
   color: #fff;
}
.news-wrapper ::-moz-placeholder,
.post-subscribe ::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}
.news-wrapper :-ms-input-placeholder,
.post-subscribe :-ms-input-placeholder {
   color: #fff;
}
.button-area {
  float: left;
  padding-top: 15px;
}
.us-banner-bottom {
  float: left;
  width: 100%;
  padding: 60px 0px 10px 0px;
}
.us-banner-bottom-text {
  background:  image-url("robo-us-icon.jpg") no-repeat 15px 14px;
  margin-bottom: 15px;
  border: 2px solid #000;
  border-radius: 8px;
  font-size: 16px;
  float: left;
  width: 100%;
  padding: 15px 15px 15px 44px;
  font-weight: 600;
}
.graph-container h3 {
  font-size: 21px;
  color: white;
  text-align: center;
  font-weight: 100;
}
/* ==========================================================================
   Age of Automation
   ========================================================================== */
.age-auto-section {
  float: left;
  width: 100%;
  padding: 70px 0px 70px 0px;
}
.age-auto-section h2 {
  text-transform: uppercase;
}
.tipping-points {
  float: left;
  width: 100%;
  margin: 25px 0px;
}
.tipping-points img {
  width: 100%;
}
.automation-wrapper {
  float: left;
  width: 100%;
  padding: 25px 0px 0px 0px;
}
/* ==========================================================================
   Technology Section
   ========================================================================== */
.tech-tab-section {
  float: left;
  width: 100%;
  padding: 45px 0px;
  min-height: 813px;
  background: #eee;
}
.tabs-effect {
  background:  image-url("sides-effects.png") no-repeat center top;
  width: 100%;
  float: left;
  min-height: 813px;
}
/*Default Heading*/
.tech-tab-section h2,
.application-tabs-section h2,
.protfolio-section h2,
.holding-metho-section h2,
.index-perfor-section h2,
.management-section h2,
.advisory-section h2 {
  text-transform: uppercase;
}
.tabs-container {
  float: left;
  width: 100%;
  padding-top: 25px;
}
ul.tech-tabs {
  padding: 0px;
  max-width: 375px;
  margin: 0 auto;
  width: 100%;
}
ul.tech-tabs li {
  float: left;
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 62px;
  margin-right: 15px;
  height: 90px;
  cursor: pointer;
}
ul.tech-tabs li.butterfly {
  margin-right: 0px;
}
ul.tech-tabs li.models {
  background:  image-url("technology-tabs.jpg") no-repeat  0px -98px;
  float: left;
}
ul.tech-tabs li.auto-processing {
  background:  image-url("technology-tabs.jpg") no-repeat  -80px -98px;
  float: left;
}
ul.tech-tabs li.analytics {
  background:  image-url("technology-tabs.jpg") no-repeat  -160px -98px;
  float: left;
}
ul.tech-tabs li.speed-testing {
  background:  image-url("technology-tabs.jpg") no-repeat  -236px -98px;
  float: left;
}
ul.tech-tabs li.robo-champ {
  background:  image-url("technology-tabs.jpg") no-repeat  -236px -98px;
  float: left;
}
ul.tech-tabs li.butterfly {
  background:  image-url("technology-tabs.jpg") no-repeat  -315px -98px;
  float: left;
}
/*============================HOVER=======================================*/
ul.tech-tabs li.models:hover, ul.tech-tabs li.models.active {
  background:  image-url("technology-tabs.jpg") no-repeat  0px -1px;
  float: left;
}
ul.tech-tabs li.auto-processing:hover, ul.tech-tabs li.auto-processing.active {
  background:  image-url("technology-tabs.jpg") no-repeat  -80px -1px;
  float: left;
}
ul.tech-tabs li.analytics:hover, ul.tech-tabs li.analytics.active {
  background:  image-url("technology-tabs.jpg") no-repeat  -160px -1px;
  float: left;
}
ul.tech-tabs li.speed-testing:hover, ul.tech-tabs li.speed-testing.active {
  background:  image-url("technology-tabs.jpg") no-repeat  -236px -1px;
  float: left;
}
ul.tech-tabs li.robo-champ:hover, ul.tech-tabs li.robo-champ.active {
  background:  image-url("technology-tabs.jpg") no-repeat  -236px -1px;
  float: left;
}
ul.tech-tabs li.butterfly:hover, ul.tech-tabs li.butterfly.active {
  background:  image-url("technology-tabs.jpg") no-repeat  -315px -1px;
  float: left;
}
.tech-info {
  float: left;
  width: 100%;
  padding-top: 60px;
}
.tech-info img,
.app-info img {
  width: 100%;
}
.tab-info-wrapper {
  float: left;
  padding-top: 114px;
  width: 100%;
}
.tab-info-title {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 15px;
}
/* ==========================================================================
   Application Section
   ========================================================================== */
.application-tabs-section {
  float: left;
  width: 100%;
  padding: 45px 0px;
}
ul.app-tabs {
  padding: 0px;
  max-width: 660px;
  margin: 0 auto;
  width: 100%;
}
ul.app-tabs li {
  float: left;
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 82px;
  margin-right: 15px;
  height: 108px;
  cursor: pointer;
}
ul.app-tabs li.models {
  background:  image-url("application-tabs.jpg") no-repeat  0px -108px;
  float: left;
}
ul.app-tabs li.auto-processing {
  background:  image-url("application-tabs.jpg") no-repeat  -95px -108px;
  float: left;
  width: 62px;
}
ul.app-tabs li.analytics {
  background:  image-url("application-tabs.jpg") no-repeat  -176px -108px;
  float: left;
  width: 67px;
}
ul.app-tabs li.speed-testing {
  background:  image-url("application-tabs.jpg") no-repeat  -261px -108px;
  float: left;
  width: 64px;
}
ul.app-tabs li.robo-champ {
  background:  image-url("application-tabs.jpg") no-repeat  -331px -108px;
  float: left;
  width: 90px;
}
ul.app-tabs li.butterfly {
  background:  image-url("application-tabs.jpg") no-repeat  -427px -108px;
  float: left;
  width: 60px;
}
ul.app-tabs li.epr {
  background:  image-url("application-tabs.jpg") no-repeat  -510px -108px;
  float: left;
  width: 64px;
}
ul.app-tabs li.consumer {
  background:  image-url("application-tabs.jpg") no-repeat  -594px -108px;
  float: left;
  width: 62px;
  margin-right: 0px;
}
/*============================HOVER=======================================*/
ul.app-tabs li.models:hover, ul.app-tabs li.models.active {
  background:  image-url("application-tabs.jpg") no-repeat  0px 0px;
  float: left;
}
ul.app-tabs li.auto-processing:hover, ul.app-tabs li.auto-processing.active {
  background:  image-url("application-tabs.jpg") no-repeat  -95px 0px;
  float: left;
}
ul.app-tabs li.analytics:hover, ul.app-tabs li.analytics.active {
  background:  image-url("application-tabs.jpg") no-repeat  -176px 0px;
  float: left;
}
ul.app-tabs li.speed-testing:hover, ul.app-tabs li.speed-testing.active {
  background:  image-url("application-tabs.jpg") no-repeat  -261px 0px;
  float: left;
}
ul.app-tabs li.robo-champ:hover, ul.app-tabs li.robo-champ.active {
  background:  image-url("application-tabs.jpg") no-repeat  -331px 0px;
  float: left;
}
ul.app-tabs li.butterfly:hover, ul.app-tabs li.butterfly.active {
  background:  image-url("application-tabs.jpg") no-repeat  -427px 0px;
  float: left;
}
ul.app-tabs li.epr:hover, ul.app-tabs li.epr.active {
  background:  image-url("application-tabs.jpg") no-repeat  -510px 0px;
  float: left;
}
ul.app-tabs li.consumer:hover, ul.app-tabs li.consumer.active {
  background:  image-url("application-tabs.jpg") no-repeat  -594px 0px;
  float: left;
}
.app-info {
  float: left;
  width: 100%;
  padding-top: 50px;
}
.app-info-wrapper {
  float: left;
  padding-top: 70px;
  width: 100%;
  padding-left: 44px;
}
.app-info-title {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 15px;
}
/* ==========================================================================
   Portfolio Composition
   ========================================================================== */
.protfolio-section {
  float: left;
  width: 100%;
  padding: 45px 0px;
}
.portfolio-des {
  float: left;
  width: 100%;
  padding: 25px 0px;
}
.composition-img {
  float: left;
  width: 100%;
}
/* ==========================================================================
   Holdeing Section
   ========================================================================== */
.holding-metho-section {
  float: left;
  width: 100%;
  padding: 45px 0px;
}
.bellweather {
  background: #efefef;
  float: left;
  width: 100%;
  padding: 212px 100px;
  font-size: 34px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
}
.index-perfor-section {
  float: left;
  width: 100%;
  padding: 45px 0px;
}
/* ==========================================================================
   About Page
   ========================================================================== */
.about-banner-title {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 26px;
  color: white;
  line-height: normal;
}
.robo-about-top {
  float: left;
  width: 100%;
  padding: 70px 0px 80px 0px;
}
.robo-about-top p {
  font-size: 18px;
}
.legal-banner  {
  background: image-url("about-banner.jpg") no-repeat center top;
  width: 100%;
  float: left;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about-banner {
  background: image-url("team-banner.jpg") no-repeat center;
  width: 100%;
  float: left;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.news-banner {
  background: image-url("news-banner.jpg") no-repeat center;
  width: 100%;
  float: left;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* ==========================================================================
   Management Section
   ========================================================================== */
.management-section {
  float: left;
  width: 100%;
}
.about-wrapper {
  float: left;
  width: 100%;
  padding-top: 30px;
}
.about-team-img {
  border: 1px solid #000;
  float: left;
  border-radius: 1000px;
  width: 180px;
  height: 180px;
  padding: 8px;
  margin-right: 15px;
  margin-left: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.about-team-img img {
  border-radius: 1000px;
  width: 100%;
}
.person-info {
  float: left;
  width: 55%;
}
.about-wrapper h3 {
  margin-bottom: 0px;
  margin-top: 60px;
  text-transform: capitalize;
}
.about-wrapper h4 {
  margin: 4px 0px;
}
.about-social {
  float: left;
}
.about-email {
  font-size: 12px;
  padding-bottom: 10px;
}
.about-des-wrapper {
  float: left;
  width: 100%;
  padding: 40px 0px 0px 0px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 270px;
}
/* ==========================================================================
   Advisory Section
   ========================================================================== */
.advisory-section {
  background: #f7f7f7;
  float: left;
  width: 100%;
  padding: 60px 0px 260px 0px;
}
.advisory-section h2 {
  padding-bottom: 30px;
}
.advisory-wrapper {
  float: left;
  padding: 35px 0px 0px 0px;
  width: 100%;
}
.ad-right-side {
  float: left;
  max-width: 220px;
}
.advisory-team-img {
  border: 1px solid #000;
  float: left;
  border-radius: 1000px;
  width: 150px;
  height: 150px;
  padding: 8px;
  margin-right: 15px;
  margin-left: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.advisory-team-img img {
  border-radius: 1000px;
  width: 100%;
}
.advisory-wrapper h3 {
  margin-bottom: 25px;
  margin-top: 0px;
}
/* ==========================================================================
   Get in Touch
   ========================================================================== */
.get-touch-section {
  float: left;
  width: 100%;
  margin-top: -186px;
  position: relative;
  margin-bottom: 65px;
}
.get-touch-right {
  float: left;
  background: image-url("get-touch.png") no-repeat left;
  width: 100%;
  height: 299px;
  padding: 15px 30px 0px 40px;
  background-size: cover;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.get-touch-right .title {
  font-size: 24px;
  color: white;
  padding-bottom: 0px;
}
.get-touch-right .call-us {
  font-size: 16px;
  color: white;
  padding-bottom: 5px;
}
.get-touch-right .phone {
  font-size: 16px;
  color: white;
  padding-bottom: 0px;
}
.our-office {
  float: left;
  padding-top: 5px;
  width: 100%;
}
.about-map {
  float: left;
  width: 100%;
  height: 299px;
}
.about-map img {
  width: 100%;
  height: 299px;
}
/* ==========================================================================
   Legal Information
   ========================================================================== */
.legal-info-section {
  float: left;
  width: 100%;
  padding: 50px 0px 230px 0px;
}
.legal-info-section h2 {
  text-align: left;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.legal-top-line {
  font-size: 18px;
  float: left;
  padding-bottom: 28px;
  width: 100%;
}
/* ==========================================================================
   Post
   ========================================================================== */
.post-section {
  float: left;
  width: 100%;
  padding-top: 50px;
}
.post-section h2 {
  text-align: left;
  text-transform: uppercase;
}
.post-share-bar {
  margin-top: 35px;
}
a.post-tags {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 4px 8px;
  background: white;
  font-size: 14px;
  color: black;
  text-align: center;
  margin-right: 8px;
  margin-bottom: 10px;
  float: left;
   -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
a.post-tags:hover {
  text-decoration: none;
  background: #00aff0;
  color: white;
  border: 1px solid #00658a;
}
.post-date {
  font-size: 13px;
  color: #aaa;
}
.featured-content {
  float: left;
  width: 100%;
  padding-top: 10px;
}
.featured-content img {
  width: 100%;
}
.featured-video iframe {
  width: 100% !important;
  margin-top: 20px;
}
.featured-file {
  padding-top: 20px;
  float: left;
}
.description-section img {
  margin: 0px 10px;
} 
.recommendet-content {
  float: left;
  width: 100%;
  margin: 20px 0px 40px 0px;
}
.recommendet-content img {
  width: 100%;
}
.post-pre {
  background: image-url("post-pre.png") no-repeat left;
  float: left;
  padding-left: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
}
.post-next {
  background: image-url("post-next.png") no-repeat right;
  float: left;
  padding-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
}
.post-pre:hover,
.post-next:hover {
  color: black;
}
.page-controller {
  float: left;
  width: 100%;
  padding: 30px 0px;
  border-bottom: 1px solid #000;
}
.post-right-section {
  float: left;
  width: 100%;
  padding-top: 113px;
}
.post-subscribe {
  float: left;
  width: 286px;
  background: image-url("post-susbcribe.jpg") no-repeat left;
  height: 437px;
  padding-right: 35px;
  padding-left: 15px;
  background-size: cover;
}
.sub-wrapper {
  position: relative;
  top: 265px;
  padding: 0px 10px;
}
.post-subscribe-title {
  text-align: center;
  color: white;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 26px;
}
.post-subscribe-subs {
  color: white;
  text-align: center;
  padding: 5px 15px 25px 15px;
}
.post-subscribe input[type="email"] {
  border: 1px solid white;
  border-radius: 5px;
  padding: 14px 46px 14px 14px;
  width: 100%;
  background: transparent;
  color: white;
  font-size: 12px;
}
.post-subscribe .input-arrow {
  background: image-url("input-arrow.png") no-repeat 7px 18px;
  width: 40px;
  height: 43px;
  position: absolute;
  left: 194px;
  bottom: 3px;
  border: 0px;
}
.papulor-article,
.archive-section {
  float: left;
  width: 100%;
  padding: 26px 0px 0px 15px;
}
.papulor-article .article-wrap {
  float: left;
  width: 100%;
  padding-bottom: 15px;
}
.papulor-article h4,
.archive-section h4 {
  font-size: 28px;
  text-align: left;
  padding-bottom: 10px;
}
.papulor-article .article-img {
  width: 39px;
  height: 38px;
  float: left;
  margin-right: 10px;
}
.papulor-article .article-title {
  font-size: 14px;
  padding-bottom: 0px;
}
.papulor-article .article-date {
  font-size: 12px;
  color: #aaa;
}
.archive-section ul {
  float: left;
  padding: 0px;
  margin: 0px;
}
.archive-section ul li {
  float: left;
  padding: 0px 0px 4px 0px;
  margin: 0px;
  width: 100%;
  list-style: none;
}
.right-recommended {
  float: left;
  width: 100%;
  padding: 26px 35px 0px 15px;
}
.post-section iframe {
  width: 100%;
}
/* ==========================================================================
   News and Research
   ========================================================================== */
.latest-article-section {
  float: left;
  width: 100%;
  padding-top: 0px;
}
.latest-article-section h2 {
  margin-top: 0px;
}
.latest-article-section .sub-heading {
  font-size: 16px;
  color: black;
}
.blog-news-section {
  float: left;
  width: 100%;
  padding: 25px 0px 75px 0px;
}
.blog-news-img {
  float: left;
  width: 100%;
}
.blog-news-img img {
  width: 100%;
}
.blog-news-post {
  width: 100%;
  float: left;
  padding: 18px 0px 0px 0px;
}
.blog-new-title {
  font-size: 18px;
  text-align: left;
}
.blog-news-social {
  float: left;
}
.blog-news-des {
  float: left;
  width: 100%;
  padding-top: 20px;
}
.blog-news-right {
  float: left;
  width: 100%;
  padding-top: 60px;
}
.blog-news-right h4 {
  font-size: 28px;
  text-align: left;
  padding-bottom: 10px;
  margin-top: 0px;
}
.blog-news-right-section {
  float: left;
  width: 100%;
  padding: 0px 0px 35px 0px;
}
.tweets-section {
  float: left;
  width: 100%;
  margin-bottom: 25px;
}
.blog-news-subscribe {
  float: left;
  margin-top: 70px;
}
.new-idea-section {
  float: left;
  width: 100%;
  padding: 26px 0px 0px 15px;
}
.new-blog-further-info span {
  font-weight: bold;
}
.news-read-more a {
  color: #464646;
}
#basic_map {
  width: 100% !important;
}
.our-team-wrapper {
  float: left;
}
.pager span.pagi-title {
  font-size: 14px;
  padding-right: 25px;
}
.pager span a {
  padding: 4px 8px 4px 9px;
}
.pager span a:hover,
.pager span a:focus {
  text-decoration: none;
}
.pager span.current {
  background: #00afee;
  color: white;
  padding: 4px 8px 4px 9px;
  border-radius: 100%;
  text-align: center;
}
.pagination {
  margin: 0px;
}
.show-for-small {
  display: none;
}
.font-size-18 {
  font-size: 18px !important;
}
.hide-for-large {
  display: none;
}
.navbar-nav .hide-for-large {
  display: none;
}
/*MAP Styling*/
#menu-ui {
  width: 360px;
  background: black;
  top: 0px;
  right: 0px;
  min-height: 600px;
}
#menu-ui a {
  background: transparent;
  float: left;
  width: 100%;
  text-align: left;
  padding-left: 100px;
  font-size: 16px;
}
#menu-ui h2 {
  color: white;
}
#menu-ui a:nth-child(2) {
  background: image-url("1.jpg") no-repeat 68px 11px;
}
#menu-ui a:nth-child(3) {
  background: image-url("2.jpg") no-repeat 68px 11px;
}
#menu-ui a:nth-child(4) {
  background: image-url("3.jpg") no-repeat 68px 11px;
}
#menu-ui a:nth-child(5) {
  background: image-url("4.jpg") no-repeat 68px 11px;
}
#menu-ui a:nth-child(6) {
  background: image-url("5.jpg") no-repeat 68px 11px;
}
#menu-ui a:nth-child(7) {
  background: image-url("1.jpg") no-repeat 68px 11px;
}
.advisory-mobile {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .footer-nav ul li {
    margin-right: 0px;
  }
  .us-banner-bottom-text {
    font-size: 12px;
    font-weight: 600;
  }
  .get-touch-right {
    padding: 15px 15px 0px 15px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .nav > li {
    margin-right: 0px;
  }
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  .nav > li {
    margin-right: 0px;
  }
  .navbar-default .navbar-nav > li > a {
    font-size: 14px;
  }
  .get-touch-right .phone {
    font-size: 14px;
  }
  .get-touch-right .title {
    font-size: 20px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1175px) {
  .legal-banner .us-heading-container h1 {
    font-size: 46px;
    height: 250px;
  }
  .legal-banner {
    height: 250px;
  }
  .post-share-bar {
    margin-top: 0px;
  }
  .map-section {
    padding: 0px;
  }
  .tech-section {
    padding: 20px 0px 50px 0px;
  }
  .automation-tech-section {
    padding: 50px 0px 0px 0px;
  }
  .video-post-section {
    padding-top: 25px;
  }
  .get-news {
    margin-top: 20px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1002px) {
  .footer-social-icon {
    float: left;
    padding-left: 0;
    padding-top: 20px;
    margin-bottom: 100px;
  }
  .advisory-team-img {
    width: 100px;
    height: 100px;
    padding: 5px;
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .copyrights-small {
    margin-top: 55px;
  }
  .post-wrapper .post-inner {
    width: 80%;
  }
}

@media screen and (min-width: 767px) and (max-width: 1000px) {
  .navbar-brand > img {
    width: 120px;
    margin-top: 6px;
  }
  .white-header .navbar-brand.not-show img {
    margin-top: 6px;
  }
  .post-section h2 {
    font-size: 26px;
    line-height: 32px;
  }
  .main-navigation {
    margin-top: 14px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  .latest-article-section {
    padding-top: 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .team-wrapper h3 {
    font-size: 20px;
  }
  .blog-heading-container {
    padding-top: 50px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .brand-section img {
    margin-right: 15px;
    max-width: 18%;
  }
}

@media screen and (min-width: 767px) and (max-width: 999px) {
  .brand-section img {
    margin-right: 15px;
    max-width: 14%;
  }
   .logo-container {
    padding-top: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 767px) and (max-width: 896px) {
  .main-banner h1, .us-banner h1, .about-banner h1, .legal-banner h1, .news-banner h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .banner-for-mobile {
    background: image-url("mobile-banner.jpg") no-repeat center top;
    width: 100%;
    float: left;
    min-height: 210px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .legal-banner {
    background: image-url("mobile-banner.jpg") no-repeat center top;
    width: 100%;
    float: left;
    height: 160px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .news-banner,
  .about-banner {
    width: 100%;
    float: left;
    height: 210px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .about-banner .us-heading-container,
  .legal-banner .us-heading-container {
    padding-top: 45px;
  }
  .about-banner-title {
    font-size: 18px;
  }
  .nav > li {
    margin-right: 0px;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  .white-header.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
  }
  .navbar-default .navbar-toggle:focus {
    background: transparent;
  }
  .navbar-default .navbar-toggle:hover span.icon-bar {
    background: #000;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: transparent;
  }
  .navbar-toggle {
    margin-top: 13px;
  }
  .navbar-brand > img {
    margin-left: 15px;
  }
  .us-banner-bottom span {
    font-size: 14px;
  }
  .automation-wrapper p {
    text-align: center;
  }
  .tab-info-wrapper {
    padding-top: 15px;
  }
  .app-info-wrapper {
    padding-top: 15px;
    padding-left: 0px;
  }
  .bellweather {
    padding: 26px 40px;
    font-size: 26px;
  }
  .holding-metho-section,
  .index-perfor-section {
    padding: 0px;
  }
  ul.app-tabs li,
  ul.tech-tabs li {
    margin-bottom: 25px;
  }
  .legal-info-section {
    padding: 50px 0px 60px 0px;
  }
  .post-share-bar {
    margin-top: 0px;
  }
  .post-right-section {
    padding-top: 0px;
  }
  .post-section h2 {
    font-size: 26px;
    line-height: 32px;
  }
  .main-navigation {
    margin-top: 6px;
  }
  .about-des-wrapper {
    min-height: 0px;
    height: auto;
  }
  .about-wrapper {
    float: left;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #ccc;
  }
  .about-wrapper.last {
    border: 0px;
  }
  .advisory-team-img {
    height: 80px;
    width: 80px;
    padding: 4px;
  }
  .about-team-img {
    margin-left: 0px;
    width: 60px;
    height: 60px;
    padding: 4px;
  }
  .about-wrapper h3 {
    margin-top: 0px;
    font-size: 20px;
  }
  .about-wrapper h4 {
    font-size: 15px;
  }
  .about-wrapper {
    min-height: 0px;
  }
  .robo-about-top p {
    font-size: 16px;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: white;
    border-bottom: 1px solid #ccc;
  }
  .navbar-default .navbar-nav > li > a {
    color: black;
  }
  .navbar-default .navbar-toggle {
    border: 0px;
  }
  .nav-mobile-menu ul.dropdown-menu {
    position: static;
  }
  .nav-mobile-menu .main-navigation .dropdown-menu {
    background: transparent;
    border-radius: 0px;
    color: white;
    border: 0px;
    min-width: 0;
    width: 100%;
    text-align: left;
  }
  .nav-mobile-menu .main-navigation .dropdown-menu > li > a {
    text-align: left;
  }
  .nav-mobile-menu .main-navigation.navbar-nav > li > .dropdown-menu:after {
    display: none;
  }
  .nav-mobile-menu .main-navigation .dropdown-menu > li > a:hover, .main-navigation .dropdown-menu > li > a:focus {
    color: #000;
  }
  .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li.active a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    border-radius: 0px;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #23d74d;
    color: white;
  }
  .get-news {
    margin-top: 0px;
    background: transparent;
    background-color: #00bbf2;
    height: auto;
    padding: 30px 15px;
  }
  .news-sub-title {
    width: 100%;
  }
  .news-wrapper {
    padding: 0;
  }
  .blog-news-post,
  .blog-news-des {
    display: none;
  }
  .blog-news-section {
    padding-bottom: 0px;
  }
  .blog-news-right {
    padding-top: 0px;
  }
  .show-for-small {
    display: block;
  }
  .show-for-large {
    display: none;
  }
  .video-post-section iframe {
    width: 100%;
  }
  .home-video-post {
    margin-bottom: 20px;
  }
  .protfolio-section {
    padding: 0px;
  }
  .get-touch-section {
    margin-bottom: 0px;
  }
  .get-touch-right {
    margin-bottom: 20px;
  }
  .brand-section img {
    margin-right: 10px;
    max-width: 10%;
  }
  .heighlights-section {
    min-height: 0px;
    background-size: cover;
    padding-bottom: 50px;
  }
  .carousel-indicators {
    bottom: -50px;
  }
  .carousel-inner {
    height: auto !important;
  }
}/*End 767*/


@media screen and (min-width: 640px) and (max-width: 767px)  {
  .main-banner h1, .us-banner h1, .about-banner h1, .news-banner h1 {
    font-size: 50px;
  }
  .banner-for-mobile {
    min-height: 290px;
  }
  .legal-banner h1 {
    font-size: 44px;
  }
}

@media screen and (min-width: 320px) and (max-width: 736px) {
  .main-banner h1, .us-banner h1, .about-banner h1, .news-banner h1 {
    font-size: 32px;
  }
  .legal-banner h1 {
    font-size: 28px;
  }
  .banner-for-mobile {
    min-height: 260px;
  }
  .tech-tab-section h2, .application-tabs-section h2, .protfolio-section h2, .holding-metho-section h2, .index-perfor-section h2, .management-section h2, .advisory-section h2, .age-auto-section h2 {
    font-size: 26px;
  }
  .question-section h2 {
    font-size: 22px;
  }
  .navbar-brand > img {
    width: 100px;
    margin-top: 10px;
  }
  .white-header .navbar-brand.not-show img {
    margin-top: 10px;
  }
  .navbar-toggle {
    margin-top: 9px;
  }
  .automation-tech-section h2, .map-section h2, .blog-section h2, .team-section h2, .featured-in-section h2, .heighlights-section h2, .sector-section h2 {
    font-size: 21px;
    line-height: 30px;
  }
  .tech-section {
    padding: 0px;
  }
  .map-section {
    padding-top: 0px;
  }
  .main-banner {
    min-height: 160px;
    background-position: center;
    background-size: cover;
  }
  .home-main {
    min-height: 210px;
    background-size: cover;
    background-position: center;
  }
  .text-container {
    padding-top: 50px;
  }
  .automation-tech-section,
  .blog-section,
  .video-post-section {
    padding-top: 25px;
  }
  .graph-container {
    display: none;
  }
  .heighlights-section h2 {
    padding-top: 20px;
  }
  .drive-system {
    padding-top: 0px;
  }
  .about-btn-shell{
    margin-bottom: 15px;
  }
  .us-banner-bottom-text {
    font-size: 16px;
  }
  .sector-section {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .main-banner h1, .us-banner h1, .about-banner h1, .legal-banner h1, .news-banner h1 {
    font-size: 24px;
  }
  .banner-for-mobile {
    min-height: 260px;
  }
  .tech-tab-section h2, .application-tabs-section h2, .protfolio-section h2, .holding-metho-section h2, .index-perfor-section h2, .management-section h2, .advisory-section h2, .age-auto-section h2 {
    font-size: 22px;
    line-height: 30px;
  }
  .banner-for-mobile {
    min-height: 210px;
  }
}

@media screen and (min-width: 320px) and (max-width: 530px) {
 ul.app-tabs li, ul.tech-tabs li {
    margin-right: 5px;
  }
  .footer-nav ul li a {
    padding: 3px;
    font-size: 9px;
  }
  .footer-nav {
    padding-top: 20px;
  }
  .logo-container {
      padding-top: 12px;
    }
  .footer-social-icon {
    padding-left: 0px;
    float: right;
    padding-top: 20px;
  }
  .copyrights-small {
    margin-top: 50px;
  }
  .footer-dropdown .dropdown-menu {
    width: 305px;
    min-width: 240px;
    top: 27px;
    left: -224px;
    padding: 8px 0px;
  }
  .footer-dropdown .dropdown-menu > li > a {
    font-size: 10px;
  }
  .footer-nav .dropdown-menu:after {
    left: 240px;
  }
  .footer-logo {
    width: 100px;
  }
  #footer,
  .footer-inner {
    min-height: 180px;
  }
  .age-auto-section,
  .application-tabs-section {
    padding: 20px 0px 20px 0px;
  }
  .bellweather {
    margin: 0px;
  }
  .post-pre,
  .post-next {
    font-size: 14px;
  }
  .post-section h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 992px) {
  .copyrights-small {
    font-size: 11px;
    float: left;
    text-align: left;
    padding-top: 0px;
    clear: both;
    color: white;
    display: block;
  }
  .copyrights-large {
    display: none;
  }
}

/*About Page*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .about-team-img {
    margin-left: 0px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .overlay,
  #sectors a {
    height: 80px;
    width: 80px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1100px) {
  #sectors {
    margin-left: 25px;
  }
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  .overlay,
  #sectors a {
    height: 80px;
    width: 80px;
  }
.sensing {
  top: 424px;
  left: 102px;
}
.processing {
  top: 401px;
  left: 14px;
}
.actuation {
  top: 343px;
  left: -60px;
}
.computing {
  top: 258px;
  left: -98px;
}
.integration {
  top: 166px;
  left: -97px;
}
.manufacturing {
  top: 84px;
  left: -59px;
}
.printing {
  top: 25px;
  left: 15px;
}
.logistics {
  top: 4px;
  left: 109px;
}
.agriculture {
  top: 25px;
  right: 110px;
}
.military {
  top: 87px;
  right: 36px
}
.energy {
  top: 175px;
  right: -1px
}
.healthcare {
  top: 272px;
  right: 1px;
}
.consumer {
  top: 357px;
  left: 261px;
  }
  .circule-logo {
    top: 201px;
    left: 103px;;
  }
  .news-section h3 {
    font-size: 18px;
  }
  .footer-nav ul li a {
    padding: 6px;
    font-size: 13px;
  }
  .footer-nav {
    padding-top: 22px;
  }
  .circule-logo {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  span.text {
      color: white;
      font-size: 12px;
      position: absolute;
      display: block;
      top: 35px;
      width: 100%;
      text-align: center;
      line-height: 12px;
    }
}
@media screen and (min-width: 767px) and (max-width: 912px) {
  #sectors {
    margin-left: 70px;
  }
  .for-tablet {
    position: relative;
    left: 65px;
  }
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  .hide-for-small {
    display: none;
  }
  .navbar-nav .hide-for-small {
    display: none;
  }
  .show-for-small {
    display: block !important;
  }
  .accrodian h3 {
    margin: 0px;
  }
  #menu-ui {
    display: none;
  }
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  .about-team-img {
    margin-left: 0px;
    width: 100px;
    height: 100px;
  }
  .about-wrapper h3 {
    margin-top: 30px;
  }
  .about-des-wrapper {
    height: 367px;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .advisory-section {
    padding: 30px 0px 260px 0px;
  }
  .advisory-section h2 {
    padding-bottom: 0px;
  }
  .robo-about-top {
    padding: 70px 0px 20px 0px;
  }
  .post-wrapper .post-inner {
    width: 70%;
  }
  .stock-chart {
    height: 250px;
  }
  .our-team-img {
    width: 80px;
    height: 80px;
    padding: 4px;
  }
  .accrodian h3 {
    font-size: 18px;
  }
}

/*Targeted CSS For Mobile Dvices*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2), only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1), only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1.5), only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .advisory-wrapper .col-xs-8 {
    width: 100%;
  }
  .post-img {
    width: 50px;
  }
  .automation-tech-section h2, .map-section h2, .blog-section h2, .team-section h2, .featured-in-section h2, .heighlights-section h2, .sector-section h2 {
    font-size: 24px;
    line-height: 26px;
  }
  .video-post-section h3 {
    font-size: 18px;
  }
  .post-title {
    font-size: 14px;
  }
  .blog-section {
    padding: 70px 0px 20px 0px;
  }
  .white-btn,
  .default-buttons,
  .button-area button[type="submit"] {
    padding: 12px 5px;
    font-size: 11px;
  }
  .drive-system {
    padding-top: 20px;
  }
  .team-wrapper h3 {
    font-size: 16px;
    margin-top: 12px;
  }
  .team-wrapper h4 {
    font-size: 14px;
  }
  .tech-title {
    font-size: 20px;
  }
  #footer .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2), only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1), only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1.5) {
  .advisory-wrapper .col-xs-8 {
    width: 73%;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3), only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .advisory-wrapper .col-xs-8 {
    width: 80%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 580px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
.advisory-wrapper .col-xs-8 {
    width: 76%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2), only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2), only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2), only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1), only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1), only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1.5), only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1.5) {
  .large-view h3 {
    display: none;
  }
  .advisory-mobile {
    display: block;
  }
  .advisory-mobile h3 {
    font-size: 20px;
    line-height: 80px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1) {
  #menu-ui {
    width: 200px;
  }
  #menu-ui h2 {
    font-size: 20px;
  }
  #menu-ui a {
    font-size: 14px;
    padding-left: 40px;
  }
  #menu-ui a:nth-child(2) {
  background: image-url("1.jpg") no-repeat 13px 11px;
  }
  #menu-ui a:nth-child(3) {
    background: image-url("2.jpg") no-repeat 13px 11px;
  }
  #menu-ui a:nth-child(4) {
    background: image-url("3.jpg") no-repeat 13px 11px;
  }
  #menu-ui a:nth-child(5) {
    background: image-url("4.jpg") no-repeat 13px 11px;
  }
  #menu-ui a:nth-child(6) {
    background: image-url("5.jpg") no-repeat 13px 11px;
  }
  #menu-ui a:nth-child(7) {
    background: image-url("1.jpg") no-repeat 13px 11px;
  }
}

.carousel-inner {
  height: 370px;
}
