/* ==========================================================================
   Navigation
   ========================================================================== */
.navbar-brand {
  height: auto;
  line-height: normal;
  padding: 0px;
}
.navbar-default {
	background-color: #f4f4f4;
	border: 0px;
}
.navbar {
	margin-bottom: 0px;
}
.main-navigation {
	margin-top: 32px;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background: #23d74d;
	border-radius: 5px;
	color: white;
}
.navbar-nav > li > a {
	line-height: 10px;
}
.nav > li > a {
	padding: 13px 10px;
}
.nav > li {
	margin-right: 20px;
}
.dropdown-menu {
	background: #23d74d;
	border-radius: 5px;
	color: white;
	border: 0px;
	min-width: 327px;
	top: 47px;
}
.dropdown-menu > li > a {
	color: white;
}
.navbar-nav > li > .dropdown-menu {
	border-radius: 5px;
}
.dropdown-menu .divider {
	display: none;
}
.navbar-nav > li > .dropdown-menu:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #23d74d transparent;
  top: -14px;
  left: 284px;
}
/* ==========================================================================
   Bammer
   ========================================================================== */
.main-banner {
	background: image-url("banner.jpg") no-repeat center top;
	width: 100%;
	float: left;
	min-height: 920px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.text-container {
  float: left;
  padding-top: 250px;
  text-align: center;
  width: 100%;
}
.main-banner h1 {
  font-size: 50px;
  line-height: normal;
  text-align: center;
  color: white;
  text-transform: capitalize;
}
.main-banner .punch-line {
  font-size: 20px;
  line-height: normal;
  text-align: center;
  color: white;
}
/* ==========================================================================
   Footer
   ========================================================================== */
#footer {
  background: #2a2a2b;
  width: 100%;
  float: left;
  min-height: 250px;
  clear: both;
}
.footer-inner {
  background: image-url("footer-bg.jpg") no-repeat -33px -1px;
  min-height: 250px;
  max-width: 1500px;
}
.footer-logo {
  float: left;
}
.logo-container {
  float: left;
  padding-top: 50px;
}
.s-icons {
  float: right;
  margin-top: -5px;
  margin-left: 15px;
}
.copyrights {
  font-size: 11px;
  float: left;
  text-align: left;
  padding-top: 180px;
}
.test {}
