a {
    -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
/* ==========================================================================
   Heading
   ========================================================================== */
h1 {
  color: black;
  line-height: 50px;
  text-align: center;
}
h2 {
  color: black;
  line-height: 50px;
  text-align: center;
  font-size: 36px;
}
h1, h2, h3, h4, h5, h6 {
  color: black;
}
h2 {
  line-height: 40px;
}
#root-container .alert {
  margin-top: 65px;
  width: 100%;
  position: absolute;
  opacity: 0.7;
}
/* ==========================================================================
   Navigation
   ========================================================================== */
.navbar-brand {
  height: auto;
  line-height: normal;
  padding: 0px;
}
.navbar-default {
	background-color: transparent;
	border: 0px;
}
nav.white-header {
  border-bottom: 1px solid #ccc;
}
.navbar {
	margin-bottom: 0px;
}
.main-navigation {
	margin-top: 12px;
}
.nav > li a {
  border-radius: 5px;
}
.navbar-brand > img {
  margin-top: 11px;
}
.not-show {
  display: none;
}
.white-header .navbar-brand.not-show  {
  display: block;
}
.white-header .navbar-brand.not-show img {
  margin-top: -26px;
}
.white-header .navbar-brand.show {
  display: none !important;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 16px;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background: #23d74d;
	color: white;
}
.navbar-nav > li > a {
	line-height: 10px;
}
.nav > li > a {
	padding: 13px 10px;
}
.nav > li {
	margin-right: 20px;
}
.main-navigation .dropdown-menu {
	background: #23d74d;
	border-radius: 5px;
	color: white;
	border: 0px;
	min-width: 300px;
	top: 44px;
}
.main-navigation .dropdown-menu > li > a {
	color: #777;
  text-align: right;
  font-size: 13px;
}
.navbar-nav > li > .dropdown-menu {
	border-radius: 5px;
}
.main-navigation .dropdown-menu .divider {
	display: none;
}
.main-navigation .dropdown-menu>li>a:hover, .main-navigation .dropdown-menu>li>a:focus {
  background-color: transparent;
  color: white;
}
.main-navigation.navbar-nav > li > .dropdown-menu:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #23d74d transparent;
  top: -14px;
  left: 250px;
}
/*===========================================*/
.footer-dropdown .dropdown-menu {
  background: #00aff0;
  border-radius: 5px;
  color: white;
  border: 0px;
  min-width: 300px;
  top: 46px;
  left: -219px;
  padding: 8px 0px;
}
.footer-dropdown .dropdown-menu > li > a {
  color: #004c68;
  text-align: right;
  font-size: 13px;
  width: 100%;
  padding: 3px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.footer-dropdown .dropdown-menu>li>a:hover, .footer-dropdown .dropdown-menu>li>a:focus {
  background-color: transparent;
  color: #fff;
}
.footer-dropdown .dropdown-menu > li {
  margin-right: 0px;
  width: 100%;
  text-align: right;
}
.navbar-nav > li > .dropdown-menu {
  border-radius: 5px;
}
.footer-dropdown .dropdown-menu .divider {
  display: none;
}
.footer-nav .dropdown-menu:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #00aff0 transparent;
  top: -14px;
  left: 250px;
}
.footer-nav .dropdown:hover {
  background: #00aff0;
  color: white;
  border-radius: 5px;
}
/* ==========================================================================
   Main Banner
   ========================================================================== */
.main-banner {
	background: image-url("banner.jpg") no-repeat center top;
	width: 100%;
	float: left;
	min-height: 710px;
}
.us-banner {
  background: image-url("robo-us-banner.jpg") no-repeat center top;
  width: 100%;
  float: left;
  min-height: 427px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.text-container {
  float: left;
  padding-top: 170px;
  text-align: center;
  width: 100%;
}
.us-heading-container {
  text-align: center;
  display: block;
  padding-top: 80px;
}
.blog-heading-container {
  text-align: center;
  display: block;
  padding-top: 80px;
}
.main-banner h1,
.us-banner h1,
.about-banner h1,
.legal-banner h1 {
  font-size: 50px;
  line-height: normal;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 75px;
}
.punch-line {
  font-size: 20px;
  line-height: normal;
  text-align: center;
  color: white;
  text-transform: capitalize;
}
/* ==========================================================================
   Footer
   ========================================================================== */
#footer {
  background: #2a2a2b;
  width: 100%;
  float: left;
  min-height: 250px;
  clear: both;
}
.footer-inner {
  background: image-url("footer-bg.jpg") no-repeat 200px -1px;
  min-height: 250px;
}
.footer-logo {
  float: left;
}
.logo-container {
  float: left;
  padding-top: 50px;
}
.s-icons {
  float: right;
  margin-top: -5px;
  margin-left: 15px;
}
.footer-social-icon {
  float: left;
  padding-left: 33px;
  padding-top: 52px;
}
.footer-social-icon i {
  font-size: 22px;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}
.footer-social-icon i.fa-linkedin-square:hover {
  color: #3b5998;
}
.footer-social-icon i.fa-twitter-square:hover {
  color: #4099ff;
}
.footer-social-icon i.fa-google-plus-square:hover {
  color: #d34836;
}
.copyrights {
  font-size: 11px;
  float: left;
  text-align: left;
  padding-top: 130px;
  clear: both;
  color: white;
}
.footer-nav {
  float: right;
  padding-top: 38px;
}
.footer-nav ul {
  float: left;
  padding: 0px;
}
.footer-nav ul li {
  float: left;
  list-style: none;
  margin-right: 30px;
}
.footer-nav ul li:last-child {
  margin-right: 0px;
}
.footer-nav ul li a {
  float: left;
  list-style: none;
  color: white;
  padding: 10px;
  border-radius: 6px;
}
.footer-nav ul li a:hover {
  background: #00aff0;
  text-decoration: none;
}
/* ==========================================================================
   Automation technologies
   ========================================================================== */
.automation-tech-section {
  float: left;
  width: 100%;
  clear: both;
  padding: 90px 0px 0px 0px;
}
.automation-tech-section h2,
.map-section h2,
.blog-section h2,
.team-section h2,
.featured-in-section h2,
.heighlights-section h2,
.sector-section h2 {
  text-transform: uppercase;
}
.sub-title {
  font-size: 16px;
  padding: 0px 0px 20px 0px;
  text-align: center;
  float: left;
  width: 100%;
}
.tech-section {
  float: left;
  width: 100%;
  padding: 100px 0px 50px 0px;
}
.tech-catagories {
  float: left;
  width: 100%;
}
.tech-symbol {
  text-align: center;
}
.tech-title {
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
}
.top-border {
  border-top: 3px solid #00adef;
  width: 33px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tech-description {
  float: left;
  width: 100%;
  text-align: center;
  padding-top: 15px;
}
/* ==========================================================================
   Map Section
   ========================================================================== */
.map-section {
  float: left;
  width: 100%;
  padding: 80px 0px 0px 0px;
}
.map-img {
  float: left;
  text-align: center;
  width: 100%;
  margin-top: 25px;
  position: relative;
  height: 770px;
}
.map-img img {
  width: 100%;
}
div#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
/* ==========================================================================
   Blog Post Section
   ========================================================================== */
.blog-section {
  float: left;
  width: 100%;
  background-color: #f5f5f5;
  padding: 70px 0px 50px 0px;
}
.blog-section h3 {
  margin-top: 0px;
}
.video-post-section {
  float: left;
  width: 100%;
  padding: 100px 0px 0px 0px;
}
.video-post-section img {
  width: 100%;
}
.blog-section h2 {
  text-transform: uppercase;
  margin: 0px 0px 15px 0px;
}
.post-wrapper {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.latest-blog-shell {
  float: left;
  width: 100%;
  padding-top: 30px;
}
.post-img {
  float: left;
  width: 80px;
  margin-right: 15px;
}
.post-title {
  font-size: 18px;
  padding-bottom: 8px;
}
.post-description {
  font-size: 12px;
  padding-bottom: 3px;
}
.post-date {
  font-size: 11px;
  color: #727272;
}
.research-news {
  float: left;
  padding-top: 20px;
}
.research-news a {
  color: #5d5d5d;
  font-size: 16px;
}
/* ==========================================================================
   Our Sector
   ========================================================================== */
.sector-section {
  padding: 100px 0px 80px 0px;
  float: left;
  width: 100%;
}
.sector-section img {
  width: 100%;
}
.sector-inner {
  float: left;
  padding: 20px 0px 0px 0px;
  width: 100%;
}
.tab-img {
  margin-top: 50px;
  float: left;
}
.tabs-title {
  padding-bottom: 15px;
  width: 100%;
}
.tab-section-right {
  float: left;
  width: 100%;
}
.news-section {
  float: left;
  width: 100%;
  padding-top: 20px;
}
.news-section h5 {
  margin-bottom: 0px;
}
.news-section a {
  color: #898989;
}
.sector-title {
  float: left;
  width: 100%;
  padding-top: 30px;
}
/* ==========================================================================
   Index Heighlights
   ========================================================================== */
.heighlights-section {
  float: left;
  background: image-url("harmonic.jpg") no-repeat center;
  width: 100%;
  min-height: 568px;
}
.heighlights-section h2 {
  color: white;
  padding-top: 50px;
}
.drive-system {
  float: left;
  width: 100%;
  padding-top: 68px;
}
.drive-system h3,
.drive-system p {
  color: white;
}
.index-title {
  font-size: 16px;
  color: white;
  padding-bottom: 20px;
}
.about-btn-shell {
  float: left;
  padding-top: 10px;
  width: 100%;
}
/* ==========================================================================
   Our Team
   ========================================================================== */
.team-section {
  float: left;
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px 0px 50px 0px;
}
.team-wrapper {
  float: left;
  width: 100%;
  padding-top: 30px;
}
.persons-section {
  float: left;
  width: 100%;
}
.our-team-img {
  border: 1px solid #000;
  float: left;
  border-radius: 1000px;
  width: 116px;
  height: 116px;
  padding: 8px;
  margin-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.our-team-img img {
  border-radius: 1000px;
  width: 100%;
}
.team-wrapper h3 {
  margin-bottom: 0px;
}
.team-social {
  float: left;
}
.about-btn {
  padding-top: 35px;
}
.default-buttons,
.button-area button[type="submit"] {
  background-color: #25d278;
  border-radius: 5px;
  padding: 12px;
  font-size: 18px;
  color: white;
  display: block;
  text-align: center;
  border: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
a.default-buttons {
  color: white;
}
a.default-buttons:hover,
.button-area button[type="submit"]:hover {
  text-decoration: none;
  background-color: #1fae64;
}
.white-btn {
  background-color: #fff;
  border-radius: 5px;
  padding: 12px;
  font-size: 18px;
  color: #10afe8;
  display: block;
  text-align: center;
  border: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
a.white-btn {
  color: #10afe8;
}
a.white-btn:hover {
  text-decoration: none;
  background-color: #d8dee0;
}
/* ==========================================================================
   Featrued In
   ========================================================================== */
.featured-in-section {
  float: left;
  width: 100%;
  padding: 20px 0px 50px 0px;
}
.brand-section {
  float: left;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 15px;
}
.brand-section img {
  cursor: pointer;
  margin-right: 35px;
}
.brand-section img:last-child {
  margin-right: 0px;
}
/* ==========================================================================
   Question
   ========================================================================== */
.question-section {
  float: left;
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px 0px 50px 0px;
}
.question-section h2 {
  text-align: left;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.get-news {
  background: image-url("question.jpg") no-repeat left top;
  width: 100%;
  height: 250px;
  float: left;
  margin-top: 90px;
}
.news-wrapper {
  float: left;
  width: 100%;
  padding: 80px 0px 0px 15px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.input-arrow {
  background: image-url("input-arrow.png") no-repeat 7px 18px;
  width: 40px;
  height: 43px;
  position: absolute;
  left: 236px;
  bottom: 3px;
  border: 0px
}

.input-arrow:focus {
  outline:none;
}

.get-news-title {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
}
.news-sub-title {
  font-size: 16px;
  width: 32%;
  float: left;
  color: white;
  padding-bottom: 10px;
}
.news-wrapper input[type="email"] {
  border: 1px solid white;
  border-radius: 5px;
  padding: 14px 46px 14px 14px;
  width: 260px;
  background: transparent;
  color: white;
  font-size: 12px;
}
.news-wrapper input[type="email"]:focus,
.post-subscribe input[type="email"]:focus {
  border: 1px solid white;
  color: #fff;
}
.news-wrapper ::-webkit-input-placeholder,
.post-subscribe ::-webkit-input-placeholder {
   color: #fff;
}
.news-wrapper :-moz-placeholder,
.post-subscribe :-moz-placeholder { /* Firefox 18- */
   color: #fff;
}
.news-wrapper ::-moz-placeholder,
.post-subscribe ::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}
.news-wrapper :-ms-input-placeholder,
.post-subscribe :-ms-input-placeholder {
   color: #fff;
}
.button-area {
  float: left;
  padding-top: 15px;
}
.us-banner-bottom {
  float: left;
  width: 100%;
  padding: 60px 0px 10px 0px;
}
.us-banner-bottom-text {
  font-size: 20px;
  padding-top: 120px;
  text-align: center;
  background:  image-url("face-sheet.jpg") no-repeat center;
}
/* ==========================================================================
   Age of Automation
   ========================================================================== */
.age-auto-section {
  float: left;
  width: 100%;
  padding: 70px 0px 70px 0px;
}
.age-auto-section h2 {
  text-transform: uppercase;
}
.tipping-points {
  float: left;
  width: 100%;
  margin: 25px 0px;
}
.tipping-points img {
  width: 100%;
}
.automation-wrapper {
  float: left;
  width: 100%;
  padding: 25px 0px 0px 0px;
}
/* ==========================================================================
   Technology Section
   ========================================================================== */
.tech-tab-section {
  float: left;
  width: 100%;
  padding: 45px 0px;
  min-height: 813px;
  background: -moz-linear-gradient(top,  #ebebeb 0%, #eeeeee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ebebeb 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ebebeb 0%,#eeeeee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ebebeb 0%,#eeeeee 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ebebeb 0%,#eeeeee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
.tabs-effect {
  background:  image-url("sides-effects.png") no-repeat center top;
  width: 100%;
  float: left;
  min-height: 813px;
}
/*Default Heading*/
.tech-tab-section h2,
.application-tabs-section h2,
.protfolio-section h2,
.holding-metho-section h2,
.index-perfor-section h2,
.management-section h2,
.advisory-section h2 {
  text-transform: uppercase;
}
.tabs-container {
  float: left;
  width: 100%;
  padding-top: 25px;
}
ul.tech-tabs {
  padding: 0px;
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
}
ul.tech-tabs li {
  float: left;
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 66px;
  margin-right: 15px;
  height: 108px;
  cursor: pointer;
}
ul.tech-tabs li.models {
  background:  image-url("technology-tabs.png") no-repeat  0px -112px;
  float: left;
}
ul.tech-tabs li.auto-processing {
  background:  image-url("technology-tabs.png") no-repeat  -80px -112px;
  float: left;
}
ul.tech-tabs li.analytics {
  background:  image-url("technology-tabs.png") no-repeat  -160px -112px;
  float: left;
}
ul.tech-tabs li.speed-testing {
  background:  image-url("technology-tabs.png") no-repeat  -240px -112px;
  float: left;
}
ul.tech-tabs li.robo-champ {
  background:  image-url("technology-tabs.png") no-repeat  -317px -112px;
  float: left;
}
ul.tech-tabs li.butterfly {
  background:  image-url("technology-tabs.png") no-repeat  -395px -112px;
  float: left;
}
/*============================HOVER=======================================*/
ul.tech-tabs li.models:hover {
  background:  image-url("technology-tabs.png") no-repeat  0px 0px;
  float: left;
}
ul.tech-tabs li.auto-processing:hover {
  background:  image-url("technology-tabs.png") no-repeat  -80px 0px;
  float: left;
}
ul.tech-tabs li.analytics:hover {
  background:  image-url("technology-tabs.png") no-repeat  -160px 0px;
  float: left;
}
ul.tech-tabs li.speed-testing:hover {
  background:  image-url("technology-tabs.png") no-repeat  -240px 0px;
  float: left;
}
ul.tech-tabs li.robo-champ:hover {
  background:  image-url("technology-tabs.png") no-repeat  -317px 0px;
  float: left;
}
ul.tech-tabs li.butterfly:hover {
  background:  image-url("technology-tabs.png") no-repeat  -395px 0px;
  float: left;
}
.tech-info {
  float: left;
  width: 100%;
}
.tab-info-wrapper {
  float: left;
  padding-top: 114px;
  width: 100%;
}
.tab-info-title {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 15px;
}
/* ==========================================================================
   Application Section
   ========================================================================== */
.application-tabs-section {
  float: left;
  width: 100%;
  padding: 45px 0px;
}
ul.app-tabs {
  padding: 0px;
  max-width: 570px;
  margin: 0 auto;
  width: 100%;
}
ul.app-tabs li {
  float: left;
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 66px;
  margin-right: 15px;
  height: 108px;
  cursor: pointer;
}
ul.app-tabs li.models {
  background:  image-url("application-tabs.png") no-repeat  0px -112px;
  float: left;
}
ul.app-tabs li.auto-processing {
  background:  image-url("application-tabs.png") no-repeat  -80px -112px;
  float: left;
}
ul.app-tabs li.analytics {
  background:  image-url("application-tabs.png") no-repeat  -160px -112px;
  float: left;
}
ul.app-tabs li.speed-testing {
  background:  image-url("application-tabs.png") no-repeat  -238px -112px;
  float: left;
}
ul.app-tabs li.robo-champ {
  background:  image-url("application-tabs.png") no-repeat  -317px -112px;
  float: left;
}
ul.app-tabs li.butterfly {
  background:  image-url("application-tabs.png") no-repeat  -395px -112px;
  float: left;
}
ul.app-tabs li.epr {
  background:  image-url("application-tabs.png") no-repeat  -473px -112px;
  float: left;
}
/*============================HOVER=======================================*/
ul.app-tabs li.models:hover {
  background:  image-url("application-tabs.png") no-repeat  0px 0px;
  float: left;
}
ul.app-tabs li.auto-processing:hover {
  background:  image-url("application-tabs.png") no-repeat  -80px 0px;
  float: left;
}
ul.app-tabs li.analytics:hover {
  background:  image-url("application-tabs.png") no-repeat  -160px 0px;
  float: left;
}
ul.app-tabs li.speed-testing:hover {
  background:  image-url("application-tabs.png") no-repeat  -238px 0px;
  float: left;
}
ul.app-tabs li.robo-champ:hover {
  background:  image-url("application-tabs.png") no-repeat  -317px 0px;
  float: left;
}
ul.app-tabs li.butterfly:hover {
  background:  image-url("application-tabs.png") no-repeat  -395px 0px;
  float: left;
}
ul.app-tabs li.epr:hover {
  background:  image-url("application-tabs.png") no-repeat  -473px 0px;
  float: left;
}
.app-info {
  float: left;
  width: 100%;
  padding-top: 50px;
}
.app-info-wrapper {
  float: left;
  padding-top: 70px;
  width: 100%;
  padding-left: 44px;
}
.app-info-title {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 15px;
}
/* ==========================================================================
   Portfolio Composition
   ========================================================================== */
.protfolio-section {
  float: left;
  width: 100%;
  padding: 45px 0px;
}
.portfolio-des {
  float: left;
  width: 100%;
  padding: 25px 0px;
}
.composition-img {
  float: left;
  width: 100%;
}
/* ==========================================================================
   Holdeing Section
   ========================================================================== */
.holding-metho-section {
  float: left;
  width: 100%;
  padding: 45px 0px;
}
.bellweather {
  background: #efefef;
  float: left;
  width: 100%;
  padding: 212px 100px;
  font-size: 34px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
}
.index-perfor-section {
  float: left;
  width: 100%;
  padding: 45px 0px;
}
/* ==========================================================================
   About Page
   ========================================================================== */
.about-banner-title {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 26px;
  color: white;
  line-height: normal;
}
.robo-about-top {
  float: left;
  width: 100%;
  padding: 70px 0px 80px 0px;
}
.robo-about-top p {
  font-size: 18px;
}
.about-banner,
.legal-banner {
  background: image-url("about-banner.jpg") no-repeat center top;
  width: 100%;
  float: left;
  min-height: 427px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* ==========================================================================
   Management Section
   ========================================================================== */
.management-section {
  float: left;
  width: 100%;
}
.about-wrapper {
  float: left;
  width: 100%;
  padding-top: 30px;
  min-height: 480px;
}
.about-team-img {
  border: 1px solid #000;
  float: left;
  border-radius: 1000px;
  width: 180px;
  height: 180px;
  padding: 8px;
  margin-right: 15px;
  margin-left: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.about-team-img img {
  border-radius: 1000px;
  width: 100%;
}
.about-wrapper h3 {
  margin-bottom: 0px;
  margin-top: 60px;
  text-transform: capitalize;
}
.about-wrapper h4 {
  margin: 4px 0px;
}
.about-social {
  float: left;
}
.about-email {
  font-size: 12px;
  padding-bottom: 10px;
}
.about-des-wrapper {
  float: left;
  width: 100%;
  padding: 40px 0px 0px 0px;
}
/* ==========================================================================
   Advisory Section
   ========================================================================== */
.advisory-section {
  background: #f7f7f7;
  float: left;
  width: 100%;
  padding: 60px 0px 260px 0px;
}
.advisory-section h2 {
  padding-bottom: 30px;
}
.advisory-wrapper {
  float: left;
  padding: 35px 0px 0px 0px;
  width: 100%;
}
.ad-right-side {
  float: left;
  max-width: 220px;
}
.advisory-team-img {
  border: 1px solid #000;
  float: left;
  border-radius: 1000px;
  width: 180px;
  height: 180px;
  padding: 8px;
  margin-right: 15px;
  margin-left: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.advisory-team-img img {
  border-radius: 1000px;
  width: 100%;
}
.advisory-wrapper h3 {
  margin-bottom: 25px;
  margin-top: 0px;
}
/* ==========================================================================
   Get in Touch
   ========================================================================== */
.get-touch-section {
  float: left;
  width: 100%;
  margin-top: -186px;
  position: relative;
  margin-bottom: 65px;
}
.get-touch-right {
  float: left;
  background: image-url("get-touch.png") no-repeat left;
  width: 369px;
  height: 299px;
  padding: 45px 30px 0px 40px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.get-touch-right .title {
  font-size: 24px;
  color: white;
  padding-bottom: 10px;
}
.get-touch-right .call-us {
  font-size: 16px;
  color: white;
  padding-bottom: 5px;
}
.get-touch-right .phone {
  font-size: 16px;
  color: white;
  padding-bottom: 0px;
}
.our-office {
  float: left;
  padding-top: 25px;
  width: 100%;
}
.about-map {
  float: left;
  width: 100%;
  height: 299px;
}
.about-map img {
  width: 100%;
  height: 299px;
}
/* ==========================================================================
   Legal Information
   ========================================================================== */
.legal-info-section {
  float: left;
  width: 100%;
  padding: 50px 0px 230px 0px;
}
.legal-info-section h2 {
  text-align: left;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.legal-top-line {
  font-size: 18px;
  float: left;
  padding-bottom: 28px;
  width: 100%;
}
/* ==========================================================================
   Post
   ========================================================================== */
.post-section {
  float: left;
  width: 100%;
  padding-top: 50px;
}
.post-section h2 {
  text-align: left;
  text-transform: uppercase;
}
.post-share-bar {
  margin-top: 35px;
}
a.post-tags {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 4px 8px;
  background: white;
  font-size: 14px;
  color: black;
  text-align: center;
  margin-right: 8px;
  margin-bottom: 10px;
  float: left;
   -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
a.post-tags:hover {
  text-decoration: none;
  background: #00aff0;
  color: white;
  border: 1px solid #00658a;
}
.post-date {
  font-size: 13px;
  color: #aaa;
}
.featured-content {
  float: left;
  width: 100%;
  padding-top: 10px;
}
.featured-content img {
  width: 100%;
}
.featured-video iframe {
  width: 100% !important;
  margin-top: 20px;
}
.featured-file {
  padding-top: 20px;
  float: left;
}
.description-section img {
  margin: 0px 10px;
} 
.recommendet-content {
  float: left;
  width: 100%;
  margin: 20px 0px 40px 0px;
}
.recommendet-content img {
  width: 100%;
}
.post-pre {
  background: image-url("post-pre.png") no-repeat left;
  float: left;
  padding-left: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
}
.post-next {
  background: image-url("post-next.png") no-repeat right;
  float: left;
  padding-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
}
.post-pre:hover,
.post-next:hover {
  color: black;
}
.page-controller {
  float: left;
  width: 100%;
  padding: 30px 0px;
  border-bottom: 1px solid #000;
}
.post-right-section {
  float: left;
  width: 100%;
  padding-top: 113px;
}
.post-subscribe {
  float: left;
  width: 286px;
  background: image-url("post-susbcribe.jpg") no-repeat left;
  height: 437px;
  padding-right: 35px;
  padding-left: 15px;
}
.sub-wrapper {
  position: relative;
  top: 265px;
  padding: 0px 10px;
}
.post-subscribe-title {
  text-align: center;
  color: white;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 26px;
}
.post-subscribe-subs {
  color: white;
  text-align: center;
  padding: 5px 15px 25px 15px;
}
.post-subscribe input[type="email"] {
  border: 1px solid white;
  border-radius: 5px;
  padding: 14px 46px 14px 14px;
  width: 100%;
  background: transparent;
  color: white;
  font-size: 12px;
}
.post-subscribe .input-arrow {
  background: image-url("input-arrow.png") no-repeat 7px 18px;
  width: 40px;
  height: 43px;
  position: absolute;
  left: 194px;
  bottom: 3px;
  border: 0px;
}
.papulor-article,
.archive-section {
  float: left;
  width: 100%;
  padding: 26px 35px 0px 15px;
}
.papulor-article .article-wrap {
  float: left;
  width: 100%;
  padding-bottom: 15px;
}
.papulor-article h4,
.archive-section h4 {
  font-size: 28px;
  text-align: left;
  padding-bottom: 10px;
}
.papulor-article .article-img {
  width: 39px;
  height: 38px;
  float: left;
  margin-right: 10px;
}
.papulor-article .article-title {
  font-size: 14px;
  padding-bottom: 0px;
}
.papulor-article .article-date {
  font-size: 12px;
  color: #aaa;
}
.archive-section ul {
  float: left;
  padding: 0px;
  margin: 0px;
}
.archive-section ul li {
  float: left;
  padding: 0px 0px 4px 0px;
  margin: 0px;
  width: 100%;
  list-style: none;
}
.right-recommended {
  float: left;
  width: 100%;
  padding: 26px 35px 0px 15px;
}
/* ==========================================================================
   News and Research
   ========================================================================== */
.latest-article-section {
  float: left;
  width: 100%;
  padding-top: 54px;
}
.latest-article-section .sub-heading {
  font-size: 16px;
  color: black;
}
.blog-news-section {
  float: left;
  width: 100%;
  padding: 25px 0px 75px 0px;
}
.blog-news-img {
  float: left;
  width: 100%;
}
.blog-news-img img {
  width: 100%;
}
.blog-news-post {
  width: 100%;
  float: left;
  padding: 18px 0px 0px 0px;
}
.blog-new-title {
  font-size: 18px;
  text-align: left;
}
.blog-news-social {
  float: left;
}
.blog-news-des {
  float: left;
  width: 100%;
  padding-top: 20px;
}
.blog-news-right {
  float: left;
  width: 100%;
  padding-top: 60px;
}
.blog-news-right h4 {
  font-size: 28px;
  text-align: left;
  padding-bottom: 10px;
  margin-top: 0px;
}
.blog-news-right-section {
  float: left;
  width: 100%;
  padding: 0px 0px 35px 0px;
}
.tweets-section {
  float: left;
  width: 100%;
  margin-bottom: 25px;
}
.blog-news-subscribe {
  float: left;
  margin-top: 70px;
}
.new-idea-section {
  float: left;
  width: 100%;
  padding: 26px 0px 0px 15px;
}
.new-blog-further-info span {
  font-weight: bold;
}
